<form class="p-md-5">
    <div class="row mb-3">
        <input type="email" class="form-control" id="inputUserl3" name="usuario" [(ngModel)]="usuario.usuario" placeholder="Usuário">
    </div>
    <div class="row mb-4">
        <input type="password" class="form-control" id="inputPassword3" name="senha" [(ngModel)]="usuario.senha" placeholder="Senha">
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-secondary" name="action" (click)="realizarLogin()">Login</button>
    </div>
    <div class="link">
        <a href="#">Esqueci minha senha</a>
    </div>
    <div class="container description">
        <p>A Brasil Sistem é uma empresa inovadora, criada para suprir
            as necessidades dos revendedores de Gás LP e água mineral.</p>
        <p>Agilize o gerenciamento da sua empresa de forma<br>
            <b>RÁPIDA</b>, <b>FÁCIL</b> e <b>EFICIENTE</b>
        </p>
    </div>

</form>